.horizontal {
	border-top: 2px solid #CCCCCC;
	margin-top: 8px;
}

.catalog {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 50px;
    padding: 50px;
}

.logo {
	text-align: center;
	padding: 40px 0px 0px 0px;
}

.footer {
	background-color: #CCCCCC;
	color: #000000;
	text-align: center;
	font-size: 18px;
}

.main {
	font-family: comic san ms;
}

.square {
    border-radius: 25px;
    padding: 20px;
    background-color: #CCCCCC;
   	text-align: center;
}

.repoPic {
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
}

.navigation {
	font-size: 18px;
}